@charset"utf-8";

/*首页大图*/
.index-attachment-img {
    max-width: 100%;
    background-attachment: fixed; 
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 860px){
    .index-attachment-img {
           height: 400px;
           background-attachment: inherit;
    }
    
}
@media (max-width: 605px){
    .index-attachment-img {
         height: 300px;
         background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: inherit;
    }

}

.index-center:hover .index-attachment-img{
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    -ms-transform: scale(1.07);
}
.index-center .index-attachment-img {
    -webkit-transition: -webkit-transform .5s ease-out;
    -webkit-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}

.index-center::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 1;
     /* background-color: rgba(0, 0, 0, 0.25); */ /* 大图左右倾斜变白色 */
}

.index-center {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
	font-family:PingFang SC,Hiragino Sans GB,Microsoft YaHei light,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif
}


.index-center .slant-left , .index-center .slant-right {
    top: 75%;
}


@media (max-width:860px){
.header-info{width:100%;}

}

/* 外观自定义CSS */
.header-info{
 background:none;
}
/*修改文章标题*/
.entry-header h1:before {
    content: ">";
    margin-right: 6px;
    color: #ff6d6d;
    font-size: 20px;
    font-weight: 600;
}
.entry-headers h1:after {
    content: "<";
    margin-left: 6px;
    color: #ff6d6d;
    font-size: 20px;
    font-weight: 600;
}
/*移动布局显示版权信息*/
.open-message {display:block}








